* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body{
  background-image: url(Images/Purple\ and\ Pink\ Gradient\ Linktree\ Background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100vh;
  margin-top: 5%;
  
    
}

.main {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

#score{
  text-align: left;
  font-size: x-large;
  margin-left: 3%;  
}
#progress
{
  text-align: left;
  font-size: x-large;
  margin-left: 3%;  
}


#question-panel{
  text-align: center;
  font-size: x-large;
  font-family:Arial, Helvetica, sans-serif ;
  margin: 2em 2em;

  
}


.Opt-panel
{
  width: 35%;
  max-width: 35%;
  font-size: larger;
  font-family:Arial, Helvetica, sans-serif ;
  text-align: center;
  border: 2px solid rgb(79, 17, 214);
  border-radius: 1em;
  line-height: 3.5;
  padding: 5px;
  background-color: bisque;
}

.Restart-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}



#btn
{
  width: 30%;
  max-width: 50%;
  height: 4rem;
  background-color:teal;
  border-radius: 20px;
  color: honeydew;
  font-size: x-large;
  font-family:Arial, Helvetica, sans-serif ;
  text-align: center;

}

#btn:hover{
  background-color: tomato;
}
.correct {
  background-color: teal;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
}
.wrong{
   background-color: red;
  color: black;
  border-radius: 10px;
  border: 2px solid white;
}
.disabled{
  background-color: darkgray;
  pointer-events: none;
}

@media (max-width:634px) {
  .Opt-panel{
    width:35%;
    
    font-size: smaller;
    line-height: 3;
  }

  #btn{
    width:100% ;
    height: 3rem;
    
  }
}